
.buttomClass{
    width: 160%;
    background: #9797974a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    background: #FFFFFF;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: none;
    outline: none;
    font-family: "Bellefair";
    font-size: 25px;
    color: #0B0D17;
    cursor: pointer;
    font-weight: 400;  
}

button:hover{
    transform: scale(0.8);
    transition-duration: 1s;
    background: #1b1c1f;
    color: #FFFFFF;
    font-size: 30px;
    
}

.buttomClass p,
.buttomClass a{
    color: #0B0D17;
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 25px;
    text-decoration: none;
    
}


@media (min-width:600px){
    button{
        width: 30vw;
        height: 30vw;
    }
    .buttomClass{
        width: 100%;
    }
}

@media (min-width:1281px){
    button{
        width: 16vw;
        height: 16vw;
        font-size: 40px;
    }

    .buttomClass{
        width: 100%;
    }

    button:hover{
        transform: scale(0.8);
        transition-duration: 1s;
        background: #1b1c1f;
        color: #FFFFFF;
        font-size: 60px;
        
    }
}