
.buttomClass{
    width: 160%;
    background: #9797974a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    background: #FFFFFF;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: none;
    outline: none;
    font-family: "Bellefair";
    font-size: 25px;
    color: #0B0D17;
    cursor: pointer;
    font-weight: 400;  
}

.buttomClass p,
.buttomClass a{
    color: #0B0D17;
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 25px;
    text-decoration: none;
    
}




