.destination{
    width: 100vw;
    background-image: url("../../assets//destination/background-destination-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.destination__selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#destination-pick{
    color: #FFFF;
    font-family: var(--font-family);
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.destination__selection img{
    width: 55%;
    height: 55%;
}

.destination__selection__options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.destination__selection__options p{
    color: #D0D6F9;
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0 0.7rem; 
    cursor: pointer;   
}

.destination__selection__options p:hover{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 7px;
}

#option-selected{
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 7px;
}
.destination__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 2rem;
    padding-bottom: 2rem;
    
    border-bottom: 1px groove #D0D6F9;
}

#p-destination{
    font-family: "Bellefair";
    font-size: 66px;
    color:#FFFF;
    margin: 2rem 0
}
#p-description{
    font-family: var(--font-family);
    font-size: 16px;
    color: #D0D6F9;
    line-height: 28px;
}

#p-dataWhite{
    font-family: "Bellefair";
    font-size: 30px;
    color:#FFFFFF;
    margin: 1rem 0;
}

.destination__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.imgr{
    -webkit-animation: 70s rotate linear infinite;
    animation: 70s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


@media (min-width:600px){

    .destination{
        background-image: url("../../assets//destination/background-destination-tablet.jpg");
    }

    .destination__selection{
        padding-top: 7rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #destination-pick{
        text-align: start;
        width: 100%;
        font-size: 20px;
        letter-spacing: 3px;
        padding-left: 2rem;
        margin-bottom: 4rem;
    }

    .destination__selection img{
        width: 50%;
        height: 50%;
    }
    
    .destination__selection__options p{
        margin: 0 1.5rem
    }

    #p-destination{
        font-size: 80px;
    }

    #p-description{
        padding: 0 5rem;
    }

    .destination__data{
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        padding-bottom: 6rem;
    }


}

@media (min-width:1281px){
    .destination{
        height: 100vh;
        display: flex;
        flex-direction: row;
        background-image: url("../../assets//destination/background-destination-desktop.jpg");
        justify-content: center;
        align-items: center;
        gap: 7%;
        overflow: hidden;
    }
    .destination__selection{
        padding-top: 0;
        
    }
    .destination__selection img{
        width: 30vw;
        height: 30vw;
    }

    .destination__2part{
        width: 30%;
        margin-top: 10%;
    }

    .destination__selection__options{
        order: -1;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        position: absolute;
        top: 20%;
        right: 15%;
    }
    .destination__selection__options p{
        font-size: 20px;
        margin: 0 1rem;
    }
    #destination-pick{
        order:-2;
        margin-top: 2rem;
        margin-bottom: 4rem;
        font-size: 35px;
        
    }

    #p-description{
        padding: 0;
        text-align: start;
    }
}

@media (min-width:1600px){
    .destination__selection__options{
        order: -1;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        position: absolute;
        top: 20%;
        right: 20%;
    }
    
    .destination__data{
        gap:2rem;
        align-items: center;
        justify-content: center;
        text-align:  center;
    }
    
}