.home{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.home img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

.home__info{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    padding-top: 6rem;
}

.home__info p{
    color: #D0D6F9;
    font-family: 'Bellefair', serif;
    font-size: 19px;
    text-align: center;
    padding: 1rem 0;    
    line-height: 28px;
    

}

#p-title{
    color: rgb(255, 255, 255);
    font-family: 'Bellefair', serif;
    text-align: center;
    font-size: 90px;
    margin: 2rem 0;
}

.home__buttom{
    width: 60vw;
    height: 60vw;
    display: flex;
    margin: auto;

}

#lastP{
    margin-bottom: 4rem;
}


@media (min-width:600px){
    .home{
        background-image: url("../../assets/home/background-home-tablet.jpg")  
    }

    .home__info{
        padding-top: 12rem;
    }

    #p-title{
        font-size: 150px;
        margin: 4rem 0;
    }

    #lastP{
        padding: 0 9rem;
        margin-bottom: 8rem;
    }

    .home__buttom{
        width: 40vw;
        height: 40vw;
    }
}

@media (min-width:1281px){
    .home{
        background-image: url("../../assets/home/background-home-desktop.jpg")  
    }
    .home__info{
        height: 100vh;;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
    }
    .home__buttom{
        width: 22vw;
        height: 22vw;
        margin: 0;
        position: absolute;
        right: 10%;
        bottom: 10%;
    }

    #p-desc{
        font-size: 24px;
        text-align: start;
        padding-left: 9rem;
    }

    #lastP{
        width: 60vw;
        text-align: start;
        font-size: 22px;
        line-height: 35px;
    }
    #p-title{
        text-align: start;
        padding-left: 9rem;
        font-size: 160px;
        margin: 6rem 0;
    }
}

@media (min-width:1650px){
    #lastP{
        width: 45%;
        font-size: 26px;
    }

    #p-desc{
        font-size: 28px;
        
    }

    #p-title{
        font-size: 180px;
    }
}