.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: none;
    position: absolute;
}


.navbar__links{
    display: none;
}


.navbar_toggleMenu-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background: rgb(19, 19, 19);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    top: 52px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    z-index: 10;
    opacity: 1;
}

.navbar_toggleMenu-container p,
.navbar_toggleMenu-container a{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 1.2rem;
    font-size: 25px;
    text-decoration: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: var(--font-family);
    text-align: center;
    
}



@media (min-width:600px){
    .navbar__links{
        display: flex;
        flex-direction: row;
        padding: 2rem 4rem;
        background: #333341d4;
        
    }

    .navbar__links p,
    .navbar__links a{
        margin: 0 1rem;
        text-decoration: none;
        color: #fff;
        font-family: var(--font-family);
        font-size: 18px;
    }

    .navbar__toggleMenu{
        display: none;
    }
}




@media (min-width:1281px){

}
